;
; Gamify specific configuration file.
;
; IMPORTANT NOTE:
; This file may have been set to read-only by the gamify installation program.
; If you make changes to this file, be sure to protect it again after making
; your modifications. Failure to remove write permissions to this file is a
; security risk.
;

[site]
;
; Base URL.
;
; Fill in the absolute URL to your installation.
;
; You might also want to force users to use a given domain.
; See the .htaccess file for more information.
;
; Examples:
; base_url = 'http://www.example.com'
; base_url = 'http://www.example.com:8888'
; base_url = 'http://www.example.com/gamify'
; base_url = 'https://www.example.com:8888/gamify'
;
; It is not allowed to have a trailing slash; Drupal will add it
; for you.
;
base_url = 'http://www.example.com'

; Where to put uploaded files, must be a relative path
uploads = uploads

; To set PHP language messages, it won't translate this app, only 
; system messages (i.ex.: dates...)
locale = 'ca_ES.utf8'

; If you want to DEBUG this app, set this to '1'
; If you're debugging and you want to receive mail messages
; set debug_receiver to an email.
;
; debug = 0
; debug_receiver = <someone@mail.net>

[datasource]
;
; Database settings:
;
; This section specifies the database connection that gamify may use.
;
; The "driver" property indicates what gamify database driver the
; connection should use. This is usually the same as the name of the
; database type, such as mysql or sqlite, but not always. The other
; properties will vary depending on the driver. For SQLite, you must
; specify a database file name in a directory that is writable by the
; webserver. For most other drivers, you must specify a
; username, password, host, and database name.
;
; Only works for mysql. NOT IMPLEMENTED ANY OTHER DRIVER!
;
; db_driver:
;       mysql   for MySQL database, see [mysql]
;       oracle  for Oracle database, see [oracle]
;       pg      for PostgreSQL database, see [pg]
;
db_driver = mysql

[mysql]
; MySQL configuration
;
; If you use localhost you must not to use this
; host = server.domain.com
host = localhost

; Credentials to make DB connection
database = <database name>
user     = <user to access database>
passwd   = <very secret password>

[authentication]
; Where users will be authenticated
;
; If you use type=LOCAL we will use an internal database.
;
; If you use type=LDAP you must supply [LDAP] parameters.
;
type = LOCAL

[LDAP]
; host = ldaps://hostname
; basedn = cn=%s,ou=users,dc=domain"
; filter = "(suborganization=something)"

